:root{
    font-family:"Outfit",sans-serif;
    --font-lighter-weight:400;
    --font-bolder-weight: 700;
    --color-white:hsl(0, 0%, 100%);
    --color-light-grey:hsl(212,45%,89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue:hsl(218, 44%, 22%);
    --mobile-width:375px;
    /* Not that this would be needed */
    --desktop-width:1440px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    background-color: var(--color-light-grey);
}
.bolder-text{
    font-weight:var(--font-bolder-weight);
    color: var(--color-dark-blue);
    padding:  1.5rem 1.5rem 0.5rem 1.5rem;

}
.lighter-text{
    font-weight: var(--font-lighter-weight);
    color: var(--color-grayish-blue);
    padding: 0.5rem 2rem;
}
main{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    background-color: var(--color-white);
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
}
.centered{

    text-align: center;
}
img{
    width: 290px;
    margin-top: 16px;
    border-radius: 10px;
}

@media (max-width:375px) {

    body{
        min-width: 375px;
    }
}
